.endpoint_header {
  display: flex;
  font-size: 1.7vw;
  margin-left: 8vw;
  font-weight: bold;
  margin-top: -10vh;
  margin-bottom: 100px;
  position: fixed;
}

.resource {
  color: #9CD9CB;
}

.resource_type {
  color: #FF9382;
}

.part {
  color: #ffcf4d;
}

.ticket {
  color: #8782FF;
}

.note {
  color: #FAD2CE;
}

.user {
  color: #FFB382;
}

.session {
  color: #96AFFF;
}
