footer {
  position: fixed;
  display: flex;
  height: 5vh;
  width: 100%;
  margin-bottom: 0px;
  bottom: 0px;
  z-index: 9;
}

.three-fractions {
  width: 27.3%;
}

.two-fractions {
  width: 18.2%;
}

.one-fraction {
  width: 9.1%;
}
