code {
  color: black;
  line-height: 2;
  font-size: 1.2vw;
}
.card {
  border-radius: 30px;
  height: 200px;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
}

.endpoint-card {
  height: 97vh;
  width: 37vw;
  margin: 2vw;
  overflow: scroll;
}

.title-container {
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  padding: 15px;
  color: white;
  padding-right: 30%;
}

.endpoint-title-container {
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  padding: 15px;
  color: white;
}

.salmon {
  background: #FF9382;
}

.salmon:hover {
  background: #FFC6B5
}

.purple {
  background: #8782FF;
}

.purple:hover {
  background: #BAB5FF;
}

.orange {
  background: #FFB382;
}
.orange:hover {
  background: #FFE6B5;
}

.light-blue {
  background: #96AFFF;
}
.light-blue:hover {
  background: #BBCBFF;
}

.yellow {
  background: #ffcf4d;
}

.yellow:hover {
  background: #ffe294;
}

.peach {
  background: #FFC29A;
}

.peach:hover {
  background: #FFF5CD;
}

.mint {
  background: #9CD9CB;
}

.mint:hover {
  background: #c0e7de;
}

.pink {
  background: #FAD2CE;
}

.pink:hover {
  background: #FFECE8;
}
